<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="actuator_ros2_control" params="name">

    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>actuator_ros2_control/ACTUATORHardwareInterface</plugin>
      </hardware>

      <joint name="actuator">
        <param name="node_id">0</param> <!-- IDK IDK-->
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">${2*pi}</param>
        </command_interface>
        <command_interface name="velocity"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
