<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rmd_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>rmd_ros2_control/RMDHardwareInterface</plugin>
      </hardware>

      <joint name="shoulder_pitch">
        <param name="node_write_id">330</param> <!--0x14A -->
        <param name="node_read_id">586</param> <!--0x24A -->
        <param name="gear_ratio">100</param>
        <param name="joint_orientation">1.0</param>
        <state_interface name="position">
          <param name="initial_value">-1.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="elbow_pitch">
        <param name="node_write_id">324</param> <!--0x144-->
        <param name="node_read_id">580</param> <!--0x244-->
        <param name="gear_ratio">100</param>
        <param name="joint_orientation">1.0</param>
        <state_interface name="position">
          <param name="initial_value">-2.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>